#OAuth Client ID
NEXT_PUBLIC_CS_CLIENT_ID=your_app_client_id
NEXT_PUBLIC_APPLICATION_ID=your_application_id
NEXT_PUBLIC_REDIRECT_URL=http://localhost:3009/locations/callback


#OAuth Enable Encryption
NEXT_PUBLIC_CS_OAUTH_ENCRYPTION=true
CS_ENCRYPTION_KEY=your_encryption_key
#eg: 39n3ks0@@!9ka3294#$&*#&##%*##&@83832##@309f2nf2n20932STVo2in32E

#LOG 
NEXT_PUBLIC_NEXTJS_LOGS=false

## PUBLIC VARIABLES -----------------------------

#Host
NEXT_PUBLIC_CS_LAUNCH_HOST=http://localhost:3009

NEXT_PUBLIC_BASE_URL_NA=https://app.contentstack.com
NEXT_PUBLIC_API_NA=https://api.contentstack.io
NEXT_PUBLIC_BASE_URL_EU=https://eu-app.contentstack.com
NEXT_PUBLIC_API_EU=https://eu-api.contentstack.com
NEXT_PUBLIC_BASE_URL_AZURE_NA=https://azure-na-app.contentstack.com
NEXT_PUBLIC_API_AZURE_NA=https://azure-na-api.contentstack.com
NEXT_PUBLIC_BASE_URL_AZURE_EU=https://azure-eu-app.contentstack.com
NEXT_PUBLIC_API_AZURE_EU=https://azure-na-api.contentstack.com

#LIMITS
NEXT_PUBLIC_CS_MAX_ENTRIES_PER_RELEASE=1500
NEXT_PUBLIC_CS_MAX_ITEMS_AT_ONCE_PER_RELEASE=25
NEXT_PUBLIC_CS_MAX_RETRIES=10
NEXT_PUBLIC_CS_RETRY_INITIAL_DELAY=250
NEXT_PUBLIC_CS_MAX_REF_DEPTH=5

#UI OPTIONS
NEXT_PUBLIC_CS_SHOW_LOAD_OPTIONS=false


